# Unnecessary files
/archive
/arXiv

# macOS DS
.DS_Store

# l3build
/build
PHY4804@CMT.pdf

# LaTeX aux files
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.minted
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.xml